
<div  id="modalBook" class="modal fade bordes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos paciente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div  class="col text-center">
              <button type="button" (click)="PDF()"> <i class="fa fa-file-pdf-o" style="font-size:48px;color:red"></i></button>
              
            </div>
        <form id="contenidomodal" class="form-book" #formFeriado="ngForm" (ngSubmit)="update(formFeriado)">
         <ul class="nav nav-tabs" id="tabContent">
           <li><a href="#TABUNO" data-toggle="tab">TABUNO</a></li>
           <li><a href="#TABDOS" data-toggle="tab">TABDOS</a></li>
           <li><a href="#TABTRES" data-toggle="tab">TABTRES</a></li>
         </ul>
         <div class="tab-content">
          <div class="tab-pane active" id="TABUNO">
            <div class="form-row">
              <div class="form-group col-md-6">
              <label for="extra">Nombre</label>
              <input type="text" id="title" name="title" class="form-control" placeholder="title" [(ngModel)]="this.dataApi.selectedFeriado.title" readonly="readonly">
            </div>
            <div class="form-group col-md-6">
              <label for="extra">Motivo</label>
              <input type="text" id="extra" name="extra" class="form-control" placeholder="extra" [(ngModel)]="this.dataApi.selectedFeriado.extra" readonly="readonly">
            </div>
            </div>
            <div class="form-group">
             <label for="estado">Seleccione un estado:</label>
               <select class="form-control" id="estado">
                 <option value="estado 1">Estado 1</option>
                 <option value="estado 2">Estado 2</option>
                 <option value="estado 3">Estado 3</option>
                 <option value="estado 4">Estado 4</option>
                </select>
            </div>
          </div>
          <div class="tab-pane" id="TABDOS">
            <div class="form-group">
              <label for="extra">Nombre</label>
              <input type="text" id="title" name="title" class="form-control" placeholder="title" [(ngModel)]="this.dataApi.selectedFeriado.title" readonly="readonly">
              <label for="extra">Motivo</label>
              <input type="text" id="extra" name="extra" class="form-control" placeholder="extra" [(ngModel)]="this.dataApi.selectedFeriado.extra" readonly="readonly">
            </div> 
          </div> 
          <div class="tab-pane" id="TABTRES">
            <div class="form-group">
              <label for="date">Fecha</label>
              <input type="text" id="date" name="date" class="form-control" placeholder="Titulo" [(ngModel)]="this.dataApi.selectedFeriado.date" readonly="readonly">
            </div>
          </div>
            <div class="form-group">
              <label for="descripcion">Descripcion</label>
              <textarea name="descripcion" id="descripcion" class="form-control" cols="50" rows="6" formControllerName="desc" ></textarea>
              <br>
              <button type="submit" class="btn btn-primary float-right" (click)="Guarda" >Guardar cambios</button>
              
              <button type="submit" class="btn btn-primary float-right" data-dismiss="modal" >Cancelar</button>
            </div>
         </div>
        </form>
      </div>
    </div>
  </div>
</div>