<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' 
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>
<body> 
<section id="registro" class="mb-5 mt-5">
  <div class="container">
      <div class="col-md-12 col-sm-12 col-md-12 mx-auto">
        <div class="card_login" id="bordes">
          <div class="card" id="bordes">
            <div class="card-body text-center">
              <form #formLogin="ngForm" (submit)="onLogin()">
                <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">FORMULARIO PRUEBA</h1>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                </div>
                <div class="row col-md-12">
                  <div class="row col-md-12">
                    <div class="col-md-6">
                      <input [(ngModel)]="rutid" type="text" id="rut" name="rut" class="form-control" placeholder="Ingrese su dato3" required>
                    </div>
                    <div class="col-md-6">
                      <input [(ngModel)]="rutidsad" type="text" id="rutda" name="rut" class="form-control" placeholder="Ingrese su nombre" required>                        
                    </div>                
                  </div>  
                  <br>
                  <br>             
                  <div class="row col-md-12">
                    <div class="col-md-6">
                      <input [(ngModel)]="rutid" type="text" id="rut" name="rut" class="form-control" placeholder="Ingrese su dato3" required>
                    </div>
                  <div class="col-md-6">
                    <input [(ngModel)]="rutidsad" type="text" id="rutda" name="rut" class="form-control" placeholder="Ingrese su nombre" required>  
                  </div>
                  </div>
                  <br>
                  <br>
                  <div class="row col-md-12">
                    <div class="col-md-6">
                      <input [(ngModel)]="rutid" type="text" id="rut" name="rut" class="form-control" placeholder="Ingrese su dato3" required>
                    </div>
                    <div class="col-md-6">
                      <input [(ngModel)]="rutidsad" type="text" id="rutda" name="rut" class="form-control" placeholder="Ingrese su nombre" required> 
                    </div>
                  </div>
                  <br>
                  <br>  
                  <div class="row col-md-12">
                    <div class="col-md-6">
                      <input [(ngModel)]="rutid" type="text" id="rut" name="rut" class="form-control" placeholder="Ingrese su dato3" required>
          
                    </div>
                    
        <div class="col-md-6">
            <input [(ngModel)]="rutidsad" type="text" id="rutda" name="rut" class="form-control" placeholder="Ingrese su nombre" required>
          </div>
  </div>
               
                <br>
                <div class="form-group" class="text-center">
                  <button class="btn  btn-warning btn btn-block" >Registrar <i class='fas fa-user-plus'></i></button>  
                </div>
                
                <div>
               </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    
  </div>
</section>
</body>
</html>