<br>
<br>
<br>
<div class="container opacity col-md-12" >
<div class="row">
  <div class=" col-md-2 table-responsive" ></div>
    <table datatable class="table table-bordered  table-info table-striped" >
      <thead thead-dark>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Nombre</th>
          <th class="hidden" scope="col">Motivo</th>
          <th  scope="col">Accion</th>
        </tr>
      </thead>
      <tbody tbody-dark>
         
        <tr *ngFor ="let book of books" >
          <td scope="row">{{book.date}}</td>
          <td scope="row">{{book.title}}</td>
          <td  scope="row">{{book.extra}}</td>
          <td ><button class="btn btn-primary btn-xs" (click)="onPreUpdateFeriado(book)" 
          data-toggle="modal" data-target="#modalBook">Datos prueba  2</button></td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>


<app-resultados *ngFor ="let book of books"[datos]="book"></app-resultados>
<app-cargadatos></app-cargadatos>
