<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>
<body> 
<section id="registro" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mx-auto">
        <div class="card_login" id="bordes">
          <div class="card" id="bordes">
            <div class="card-body text-center">
              <form #formLogin="ngForm" (submit)="onLogin()">
                <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">FORMULARIO DE REGISTRO LABORATORIO CLINICO EN LINEA</h1>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                </div>
                <div class="row">
                <div class="form-group col-md-9">
                  <input [(ngModel)]="rutid" type="number" id="rut" name="rut" class="form-control" maxlength="8" placeholder="Ingrese su rut" required>                  
                </div>               
                <div class="form-group col-md-3">
                  <input [(ngModel)]="dvid" type="text" id="dv" name="dv" class="form-control" placeholder="DV" maxlength="1" required>
                </div>
                </div>
                <div class="form-group">
                    <input [(ngModel)]="nombreid" type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingrese su nombre completo" required>
                </div>
                <div class="form-group">
                  <input [(ngModel)]="emaild" type="email" id="email" name="email" class="form-control" placeholder="Correo electronico" required>
                </div>   
                <div class="form-group">
                    <input [(ngModel)]="emaild2" type="email" id="email2" name="email" class="form-control" placeholder="Ingrese nuevamente su correo electronico" required>
                  </div>            
                <div class="form-group">
                  <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                </div>
                <div class="form-group">
                    <input [(ngModel)]="password2" type="password" id="password2" name="password" class="form-control" placeholder="Ingrese nuevamente su contraseña" required>
                  </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="consentimiento">Aceptar consentimiento
                  </label>
                </div>
                <br>
                <div class="form-group">
                  <button class="btn  btn-warning btn btn-block" >Registrar <i class='fas fa-user-plus'></i></button>  
                </div>
                <div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>